.page_title__container {
  display: flex;
  justify-content: space-between;
}

.search__container {
  div {
    display: flex;
    align-items: center;

    h4 {
      flex-basis: 100px;
    }

    &:last-child {
      flex-grow: 1;
    }
  }
}

.container {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.container>header {
  padding: 0 16px;
  height: 60px;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.main_container {
  padding-top: 10px;
  display: flex;
  gap: 16px;
  margin: 0 1vw;

  nav {

    height: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    user-select: none;

    li {
      padding: 8px;
      background-color: bisque;
    }

    .main_container_first_category {
      font-size: 1.5rem;

      .main_container_second_category {
        font-size: 1.2rem;
      }
    }

  }

  .main__container__children {
    flex-grow: 1;
  }
}

.container>footer {
  padding-top: 10px;
  background-color: gray;
}

.school_form {
  .category_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

  .infoText {

    .yearArr_container,
    .salesType_container {
      display: flex;
      gap: 0.8rem;
    }
  }

  .essential_option {
    .option_container {
      display: grid;
      grid-template-columns: 0.3fr 1fr 1fr 1fr;

    }
  }

  .select_option {
    .option_container {
      display: grid;
      grid-template-columns: 0.3fr 1fr 1fr 1fr;

    }
  }

  .stock {
    .stock_container {
      display: grid;
      grid-template-columns: 0.3fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      p {
        grid-column: 1 / span 3;
      }
    }
  }

  .editHistory {
    p {
      width: 100%;
      height: 200px;
      background-color: rgb(231, 231, 231);
      border-radius: 0.5rem;
    }
  }
}